name: Build Java (maven)

on:
  push:
    branches:
      - main
    paths:
      - "java-maven/**"
      - ".github/workflows/java-maven.yaml"
      - "install_tooling.sh"
  workflow_call:
    secrets:
      IMAGE_PREFIX:
        description: "registry.com/loftsh in registry.com/loftsh/language:TAG"
        required: true

env:
  IMAGE_PREFIX: ${{ secrets.IMAGE_PREFIX }}
  LANGUAGE: "java-maven"

defaults:
  run:
    working-directory: java-maven

jobs:
  java-maven:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - tag: 3-openjdk-17-slim
            target_tag: latest
          - tag: 3-openjdk-17-slim
            target_tag: 3-openjdk-17-slim
          - tag: 3-openjdk-11-slim
            target_tag: 3-openjdk-11-slim
          - tag: 3-openjdk-8-slim
            target_tag: 3-openjdk-8-slim

    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - uses: loft-sh/setup-devspace@main
      - run: devspace build --var TAG=${{ matrix.tag }} --var TARGET_TAG=${{ matrix.target_tag }}


